<div class="example-container mat-elevation-z8">
  <!-- Toolbar above table -->
  <mat-toolbar class="mat-elevation-z8">
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon
        matTooltip="Info about the action"
        aria-hidden="false"
        aria-label="Example user verified icon"
        (click)="refresh()"
        >sort
      </mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon
        matTooltip="Info about the action"
        aria-hidden="false"
        aria-label="Example user verified icon"
        svgIcon="refresh"
        (click)="ngOnInit()"
      >
      </mat-icon>
    </button>

    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon
        matTooltip="Info about the action"
        aria-hidden="false"
        aria-label="Example user verified icon"
        (click)="exporter.exportTable('json')"
      >
        file_download</mat-icon
      >
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="copyUsername()">
        <mat-icon>person</mat-icon>
        <span>Copy Username</span>
      </button>
      <button mat-menu-item (click)="copyPassword()">
        <mat-icon>fingerprint</mat-icon>
        <span>Copy Password</span>
      </button>
      <button mat-menu-item (click)="copyEmail()">
        <mat-icon>mail</mat-icon>
        <span>Copy Email</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-table
    matSortActive="username"
    matSortDirection="asc"
    [dataSource]="dataSource"
    matSort
    class="full-width"
    matTableExporter
    #exporter="matTableExporter"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell mat-sort-header *matHeaderCellDef (click)="refresh()"
        >Username</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div>{{ row.username }}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="password">
      <mat-header-cell mat-sort-header *matHeaderCellDef (click)="refresh()"
        >Password</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div>{{ row.password }}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell mat-sort-header *matHeaderCellDef (click)="refresh()"
        >Email</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div>{{ row.email }}</div>
      </mat-cell>
    </ng-container>
        <ng-container matColumnDef="provider" (click)="refresh()">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Provider</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div>{{ row.createdAt | date: "longDate" }}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="created at" (click)="refresh()">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Created at</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <div>{{ row.createdAt | date: "longDate" }}</div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      class="element-row"
    ></mat-row>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

      <mat-cell *matCellDef="let row">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
          <mat-icon
            matTooltip="Add credential"
            aria-hidden="false"
            (click)="create(row)"
            >person_add
          </mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Edit credential"
          (click)="edit(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Delete credential"
          (click)="remove(row, $event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>

<ng-http-loader
  [minDuration]="500"
  spinner="sk-wave"
  [backgroundColor]="'#fff'"
  [backdropBackgroundColor]="'rgb(49, 48, 48)'"
></ng-http-loader>
