.content {
  height: 65%;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  overflow: auto;
}

::ng-deep .mat-stepper-vertical {
  margin-top: 8px;
  text-align: center;
}

::ng-deep .mat-form-field {
  margin-top: 16px;
}



::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}


/*mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #002b5c26;
    width: 100%;
}*/

.mat-toolbar-row,
.mat-toolbar-single-row {
  position: absolute;
  top: 0;
  background: #fff;
  text-align: right;
}


.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  color: #858a8a;
}
